body {
    font-family: sans-serif;
    background-color:black;
    margin-top: 75px;
    color:white;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color:white;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

