body,h1,h2,h3,h4 {
    font-family: sans-serif;
    margin:0;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;

}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.head img{
    border-radius:50%;
    position:absolute;
    right:3%;
    top:1%;
}
.head{
    background-color:green;
    line-height:40px;
    margin:0;
    padding:10px;
    font-weight:bold;
    font-size:22px;
}
.head a,ul a{
    text-decoration:none;
    color:black;
}
.container{
    padding:10px;
}
ul {
    list-style:none;
}
img{
    border-radius:50%;
}