body {
    font-family: sans-serif;
    
    margin-top: 25px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;

}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    padding:20px;
}
.head img{
    border-radius:50%;
    float:right;
    line-height:100px;
}
.head{
    background-color:orange;
    line-height:100px;
    
}